/* .details-page-house {
    border: 2px solid blue;
} */

.entry-detail-house {
    /* border: 2px solid orange; */
    margin: 20px 50px;
    padding: 20px 30px;
    /* padding-left: 10%; */
    display: flex;
    flex-direction: column;
}

.entry-detail-house > h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

/* .details-page-house > h3 {
    font-size: 25px;
    margin-bottom: 0;
} */

#created-by-tag {
    padding-left: 0px;
    font-style: italic;
    margin-top: 0;
}

.categories-house,
.detail-sub-cat-house,
.detail-location-house,
.detail-contact-house,
.notes-house {
    border: 1px solid lightgray;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    padding-left: 50px;
    background-color: rgb(240, 243, 255);
    margin-bottom: 30px;
}

.categories-house > p,
.detail-sub-cat-house > p,
.detail-location-house > p,
.detail-contact-house > p,
.notes-house > p {
    font-size: 18px;
}

.detail-location-house > p > span,
.detail-contact-house > p > span,
.notes-house > p > span {
    font-style: italic;
    margin-right: 10px;
}

.entry-detail-house > h3 {
    font-size: 20px;
    margin-bottom: 0;
}
