.navigation-link {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.details-page-house {
    border: 2px solid blue;
}

.entry-detail-house {
    border: 2px solid orange;
    margin: 20px 50px;
    padding: 20px 30px;
    /* padding-left: 10%; */
    display: flex;
    flex-direction: column;
}

.entry-detail-house > h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.entry-detail-house > p {
    padding-left: 100px;
}

#created-by-tag {
    padding-left: 0px;
    font-style: italic;
    margin-top: 0;
}

.entry-detail-house > p > span {
    font-style: italic;
}

.update-delete-button {
    width: 100px;
    margin-right: 10px;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
    /* border: 1px solid rgb(63, 96, 106); */
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgb(212, 222, 255);
    margin-top: 20px;
    margin-bottom: 30px;
}

.update-delete-button:hover {
    color: black;
    background-color: rgb(189, 201, 237);
}

.categories-house > p,
.sub-cat-house > p {
    padding-left: 100px;
}
