.new-entry-form-house {
    border: 3px solid green;
}

.new-entry-form {
    border: 2px solid pink;
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 75%;
}

.new-entry-form > button {
    margin-top: 30px;
    width: 15%;
    cursor: pointer;
}

.new-entry-form > input {
    margin: 15px;
    width: 50%;
    font-size: 16px;
    height: 30px;
}

.new-entry-form > select {
    width: 25%;
    margin-left: 15px;
    /* margin-bottom: 15px; */
    height: 30px;
    font-size: 16px;
}

/* .contact-house > input {

} */

.notes-textarea-house > textarea {
    width: 80%;
    height: 100px;
}

#caret {
    font-size: 30px;
    margin-left: 5px;
}

.sub-cat-selection-box {
    border: 1px solid black;
    width: fit-content;
    /* padding: 5px; */
    margin: 15px;
}

/* .sub-cat-house > fieldset {
    height: 200px;
    display: flex;
    flex-direction: column;
}

.sub-cat-house > fieldset > div {
    border: 1px solid pink;
    width: 100%;
    display: flex;
    align-items: center;
}

.sub-cat-house > fieldset > div > input {
    width: fit-content;
    margin-right: 20px;
}

fieldset {
    overflow-y: scroll;
    width: 50%;
} */
